*
!*/
!*.php
!*.css
!*.xml
!*.sql
!*.js
modules/**/config/routes.php
!modules/admin/config/routes.php
!modules/api/config/routes.php
!modules/auctions/config/routes.php
!modules/deals/config/routes.php
!modules/home/config/routes.php
!modules/store_admin/config/routes.php
!modules/merchant/config/routes.php
!modules/payment_gateway/config/routes.php
!modules/seller_registration/config/routes.php
!modules/products/config/routes.php
!modules/soldout/config/routes.php
!modules/users/config/routes.php
application/config/database.php
application/logs/*
!.gitignore
!bootstrap/themes/images/**
!custom/images/**
!themes/default/**
/nbproject/private/