/db_test/
/images/
/cache/
/upload/
/nbproject/private/
/modules/electronics3/config/
/modules/fashion2/config/
/modules/fashion3/config/
/modules/food1/config/
/themes/default/images/
/application/config/database.php
/.htaccess