/cache/
/application/logs/
/cache/*.*
/.htaccess
/db_test/*.*
/application/logs/*.*
/application/controllers/sample.php
/application/controllers/sendinblue_test.php
/application/controllers/et.php
/application/views/et.php
/php-wsdl-2.3/cache/*.*
*ignore*
/images/store_credit/*
/images/merchant/*
/images/products/*
/images/banner_images/*
/upload/
/routes.php