@import url('w3layout.css');
@import url('zoome.min.css');
@import url('nivo-slider.css');
@import url('megamenu.css');
@import url('magnific-popup.css');
@import url('fwslider.css');
@import url('form.css');
@import url('etalage.css');
@import url('default.css');
@import url('http://fonts.googleapis.com/css?family=Exo+2');

@charset "utf-8";
/*
	Author: Livepwndz
	Company: Swifta Systems & Services ltd.
	Author URL: http://swifta.com
*/ 

.header-top-left.swifta {
	width: auto;
}

.header-bottom-left.swifta {
	margin-top:0px;
}

.store_credit {background: #AE0700;border-radius: 10px;margin: 3px 0 0 2%;}
.store_credit a {font:13px arial;color:#fff;padding: 4px 10px;}

.menu.swifta {
	margin-top: 3%;
}

p.title.swifta {
	white-space: normal;
}

.rsingle.swifta {
	
	
}


p.deal_bought_price.swifta {
	
    font: 11px/18px arial;
    color: #888;
    padding: 2px 0px 0px;
}

span.deal_bought_price {
	
	font: 16px/19px arial;
	color: #333;

}

span.deal_rating.swifta {
    font: 11px/18px arial;
    color: #888;
    vertical-align: top;
}

html[xmlns] .clearfix {
    display: block;
}

.deal_valid_detail {
    background: #F7F7F7 none repeat scroll 0% 0%;
}

.deal_details.swifta {
	
}

.deal_details.swifta {
	
	float: left;
	width: auto;
	background:#F7F7F7;
	padding: 0;
	margin-bottom: 15px;
}



.deal_details.swifta div {
	
    border-right: 1px solid #ECE9E4;
	float: left;
	width: 80px;
}

.deal_details.swifta div.time {
	
    border-right: 1px solid #ECE9E4;
	float: left;
	width: 40px;
}




.price_common p {
    text-align: center;
    font: 12px/15px arial;
    color: #888;
    padding: 5px 0px;
}



.price_common_v p {
    text-align: center;
    font: 16px/19px arial;
    color: #444;
    display: block;
    padding: 0px 0px 6px;
}


.price_common.time p {
    text-align: center;
    font: 12px arial;
    color: #888;
    padding: 5px 0px;
	background: #09C;
}

div.price_common.dot {
		/*background: #F00 !important;*/
		width: 5px !important;
		padding: 2px !important;
}


.show_close_time_detail {
	
	margin-bottom: 10px;
	
}

.show_close_time_detail span i {
	padding: 15px;
	background: #FF00 !important;
}


.show_close_time_detail span > i {
	padding: 15px;
	/*background: #F0F !important;*/
	border: 1px solid #ECE9E4;
	border-radius: 2px;
}

.show_close_time_detail span > b {
	padding: 15px;
	background:#F7F7F7;
}

span.time_divider {
	
	padding: 5px;
	
}


.btn_form.deal_details > div.close_time {
	
	backgroundx: #F00;
	margin-top: 30px;
}

.btn_form.deal_details > div.close_time b {
	
	background:#F7F7F7;
	padding: 8px;
	border: 1px solid #ECE9E4;
	border-radius: 2px;
	text-align: center;
	font: 12px/15px arial;
	color: #888;
	margin-right: 10px;
	
	
}


.btn_form.deal_details > div.close_time i {
	
	
	padding: 8px;
	
	text-align: center;
	font: 12px/15px arial;
	color: #888;
	margin-right: 10px;
	
	
}


.close_time.bid_guide {
	
	backgroundx:#C63;
	
	
}




.close_time.bid_guide .head {

	background: #F7F7F7;
	padding: 6px 10px;
	border: 1px solid #E6E6E6;
	font: 12px/15px arial;
	color: #888;
	text-transform: capitalize;
	
	
    
	
	
}



.bid.content tr {
	
	backgroundx: #0F0;
	font: 12px/15px arial;
	color: #888;
	
	
	
}

.bid.content td {
	padding-left: 20px;
	padding-bottom:6px;
	padding-top:6px;
	padding-right: 20px;
	
}

.bid.content tr .label {
	
	backgroundx:#999;
	
}




.bid.content tr .value {
	
	backgroundx:#F09;
	text-align: right;
	vertical-align:central;
	
	
}

.bid.content {
	
	margin-top: -7px;
	
	
}

.bid.content table {
	
	border: 1px solid #E6E6E6;
	
}

.label.to_bid {
	
	background: #F7F7F7;
	padding: 6px 10px;
	border: 1px solid #E6E6E6;
	font: 12px/15px arial;
	color: #888;
	
}

.bid.content.history table {
	
	width: 100%;
}

.bid.history tr.gray {
	background: #E6E6E6;
}

.bid.history tr.gray td {
	padding-top: 6px;
	
}

.bid.content tr .value {
	
	white-space:nowrap;
}


.bid.content tr .label i {
	
	font-size: 8px;
	display:inline-block;
	font-family: 'Exo 2', sans-serif;
	font-style: italic;
	
	
}


.deal_details.auction_start {
	
	padding: 0;
	padding-bottom: 30px;
	
}

.btn_form {
	padding: 0;
	
}

.btn_form.deal_details.close {
	padding:0;
	padding-bottom: 30px;
	
	
}



.deal_details {
	padding-bottom: 30px;
}


/* Popup Start */
.popup_block {display:none;float: left; font-size: 1.2em; position: fixed; top: 5%; left:50%; z-index: 101;width:630px;margin:0 0 0 -315px;}
.popup_block1 {display:none;float: left; font-size: 1.2em; position: fixed; top: 20px; left:50%; z-index: 101;width:630px;margin:0 0 0 -315px;}
.popup_block2 { display:none;float: left; font-size: 1.2em; position: fixed; top: 5%; left:50%; z-index: 101; width:630px;margin:0 0 0 -315px;}
.popup_block3_0 { display:none;float: left; font-size: 1.2em; position: fixed; top: 5%; left:50%; z-index: 101; width:630px;margin:0 0 0 -315px;}
.popup_block3_1 { display:none;float: left; font-size: 1.2em; position: fixed; top: 5%; left:50%; z-index: 101; width:630px;margin:0 0 0 -315px;}
.popup_block4 {float: left; font-size: 1.2em; position: fixed; top: 5%; left:50%; z-index: 101;width:433px;margin:0 0 0 -216px;}
.popup_block5 {display:none;float: left; font-size: 1.2em; position: fixed; top: 5%; left:50%; z-index: 101;width:730px;margin:0 0 0 -365px;}
.popup_block6 {display:none;float: left; font-size: 1.2em; position: absolute; top: 0; left:50%; z-index: 101;width:1030px;margin:0 0 0 -515px;}
.popup_auction {display:none;float: left; font-size: 1.2em; position: fixed; top: 40px; left:50%;width:430px;margin:0 0 0 -215px; z-index: 101;}
.popup_block4 {display:none;float: left; font-size: 1.2em; position: fixed; top: 122px; left:50%; z-index: 101;width:410;margin:0 0 0 -270px;}
.popup_block_theme {display:none;float: left; font-size: 1.2em; position: fixed; top: 5%; left:50%; z-index: 101;width:630px;margin:0 0 0 -315px;}

#fade { visibility: hidden;  background: #000; position: fixed; left: 0; top: 0; z-index: 10; width: 100%; height: 100%; opacity: .50; z-index: 100; }
/* Popup end */



.place_midd_top {
	text-align:center;
	padding: 20px 10px 10px 10px;
	background: #FFF;
	border-bottom: solid 1px  #399FB8;
}

.popup_auction {
	
	border-radius: 4px;
}

.place_bott_top {
	
	
	margin-top: 30px;
	width: 70%;
	margin: 0 auto;
	
}
.place_bott_top h3 {
	text-align: center;
	font-size: 1em;
	color: #399FB8;
	margin-top: 10px;
}

.place_bott_top p {
	text-align: center;
	font-size: 0.6em;
	color: #399FB8;
}


input[type="text"],  input[type="password"] {
    border: 1px solid #D9D9D9;
    font: 12px arial;
    width: 150px;
    color: #000;
    padding: 7px;
    
   
}

.place_bot_left p {
	
	text-align: center;
	font: 12px/14px arial;
	color: #888;
	margin-top: 20px;
}

.place_bot_center {
	text-align:center;
}

.sign_submit {
	text-align:center;
}


.logo_c {
	
	width: 80%;
	background: #F00;
	margin: 0 auto;
}


.search  input[type="submit"] {
    border: medium none;
    text-indent: -9999px;
    outline: medium none;
    cursor: pointer;
    background: transparent url("../../images/leo/search.png") no-repeat scroll 0px 3px;
    width: 30px;
    height: 25px;
    padding: 8px;
}

#fwslider .slideNext span {
    background-image: url("../../images/leo/img-sprite.png");
    width: 80px;
    height: 70px;
    float: left;
    background-position: -110px -4px;
    background-repeat: no-repeat;
    cursor: pointer;
}


#fwslider .slidePrev span {
    background-image: url("../../images/leo/img-sprite.png");
    width: 80px;
    height: 70px;
    float: left;
    background-position: -12px -4px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.more_button {
	
	backgroundx:#30F;
	padding: 15px;
	text-align:center;
	
}

p.item_axillary {
	
	padding: 5px;
	color: #BBB;
	
	
}

 p.item_axillary i {
	 
	 color: #4CB1CA;
 }
 
 p.item_axillary a:hover i {
	 
	 color:#555;
 }
 
 .c1 {

    width: 28px;
	height: 28px;
 }
 
 .c2 {
    width: 28px;
	height: 28px;
 }
 
 .profile_img i {
	 
	 size: 14px;
 }
 
 .profile_img {
	 backgroundx:#066;
	 vertical-align:baseline;
 }
 
 ul.last {
	 backgroundx:#093;
	 vertical-align:central;
	 margin:0;
 }
 
 .tag-list {
	 backgroundx:#0FC;
	  vertical-align:baseline;
	  paddingx-top: 15px;
 }
 
  .tag-list ul {
	  
	  margin-left: 5px;
	  margin-top: 15px;
	  
  }
  
  .profile_img a i {
	  
  		color: #492;
  }
  
   .profile_img a:hover i {
	  
  		color: #777;
  }
  
  .color {
	  
	  background: #FFF;
	  
  }
  
  
  .color a div {
   color: #000;
   text-align: center;
   text-shadow: 1px 0px 0px #FFF;
   background: #FFF;
   width: 30px;
   height: 30px;
   display:inline-block;
   margin-right: 10px;
   border: 4px solid #4CB1CA;
   border-radius: 2px;
   text-align:center;
   vertical-align:central;
  }
  
  .color a:hover div {
	  
	   border: 4px solid #777;
  }
  
  .color a:active div {
	  color:  #FFF;
	  background: #777;
  }
 
  p i.color_header {
	 
	background: #F7F7F7;
	padding: 8px;
	border: 1px solid #ECE9E4;
	border-radius: 2px;
	text-align: center;
	font: 12px/15px arial;
	color: #888;
	margin-right: 10px;
	

 }
 
 span.color_space {
	 display:block;
	 backgroundx: #000;
	 height: 15px;
 }
 
 .size a div {
	 
	width:auto;
	height:auto;
	padding: 5px;
	text-align: center;
	color:  #4CB1CA;
 
 }
 
 .size a:hover div { 
	 color:  #777;
 }
 
 .size a:active div { 
	 color:  #FFF;
	 background: #777;
 }
 
 .p_rating {
	 
	font: 11px/18px arial;
	color: #888;
	vertical-align: top;
	
 }
 
 p.p_rating span {
	 
	 display:inline;
 }
 
 .leo_size_selected {
	 
	  color:  #FFF;
	  background: #777;
 }
 
 .leo_color_selected {
	 
	  color:  #FFF;
	  background: #777;
 }
 
 
 .leo_current_size {
	 
	 background-color:#777;
	 color:#FFF;
	 display:none;
 }
 
 i.rating {
	 display:inline;
 }
 
 .box.swifta {
	 width: auto;
	 margin-right: 0px;
 }
 
 

 
  
 


