.common_ner_commont h2{ padding: 13px 12px 6px 6px!important;}
.sub_mid input[type="submit"]{padding: 9px 5px 5px 5px;}
.ora_mid2_312 input[type="button"]{ margin: 14px 4px 6px 0px;}
.face_top_rgt{ width: 688px;}
.pro_top h2{ padding: 10px 12px 4px 12px!important;}
.category1 h1 a {background: url("../images/all_cat1.jpg") no-repeat scroll 138px 7px transparent;}
.view_more{ padding: 7px 0px 0px 0px;}
.menu_left ul li a .aerro_right_common1{padding: 3px 6px;}