/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1024px) {
/* Header start */
.header_inner{padding:5px 2%;width:96%;float:left;}
.header_top_inner{width:96%;padding:0 2%;}
.header_top_left{width:auto;padding:0 5px 0 0 ;}
.header_top_left ul li{padding-right: 3px;font:normal 10px/29px 'open_sansregular';}
.header_top_middle{float:right;width:auto;}
.header_top_middle .refer_friend a{margin:5px 0;}
.header_top_right{float:left;width:100%;}
.header_top_right ul{float:left;}
.logo{width:160px;}

.bottom_header{background: none;height: auto;}
.select_citys_common{float: right;margin:31px 0 0;}
.msearch_cart_block{width:100%;float:left;margin: 10px 0 0;}
.search_new_common{width:50%;margin:0;}
.common_search{width:100%;}
#searchresults a img{margin:0 2%;}
#searchresults a{height:auto;width:96%;padding:5px 2%;float:left;}
#searchresults a span{width:70%;float:left;padding:5px 0 0;}
.text_box_header{width:74%;border-right: 0;padding:5px 3%;}
.sub{margin:0;height:29px;}
.search_suggestions{width:100%;left:1px;}
.common_search .cities{display: none;}
.add_cart{margin:0;}
.category_sidebar{display: none;}
.head_menu{display: none;position: relative;}
.head_category{display: block;        
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#fff), color-stop(#fff), color-stop(#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #FFFFFF, #E6E6E6); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #FFFFFF, #E6E6E6); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFFFFF, #E6E6E6); /* IE10+ */
    background: linear-gradient(to bottom, #FFFFFF, #E6E6E6); /* W3C */    
    border-width:1px;border-style:solid;border-radius: 2px;-webkit-border-radius: 2px;width:100%;height:30px;padding: 5px 2%;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #d3d3d3;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.head_categoryicon{display: block;position: relative;}
.head_categoryicon:before{content: "";background:url(../images/new/head_categoryicon.png) no-repeat;width:28px;height:24px;position: absolute;right:2%;top:3px;pointer-events: none;}
.winner_but{margin:0 0 10px;}
/* Header end */
/* Footer start */
.footer_outer{padding:15px 2%;width:96%;}
.footer_inner,.footer{width:100%;}
.footer_list{width:25%;}
.footer_coloumn_one{width:20%;}
.footer_coloumn_two{width:28%;}
.footer_coloumn_three{width:27%;}
/* Footer end */
/* Home page start */
.contianer_inner{width:96%;padding:0 2%;}
.contianer{width:100%;}
.content{width:100%;}
.conntent_left{width:25%;margin:0 2% 0 0;}
.sidebar_view_product{margin:0;}
/*.more_product_image{height:auto;}*/
.more_product_image img{max-width:100%;}
.side_advertise_part{clear:none;text-align: center;}
/*.side_advertise_part a img{width:100%;height:100%;}*/
.content_right{width:73%;}
.banner{width:100%;}
.slider_home .images{text-align: center;}
.slider_home .images img{max-width:100%;height:248px;}
.banner_right_add{width:100%;margin:10px 0 0;float:left;text-align: center;}
.hot_prodocuts ul li{margin:10px 1%;width:22%;}
.hot_prodocuts ul li:first-child{margin:10px 1%;}
.hot_product_image{width:100%;}
.hot_product_image img{max-width:100%;}
.product_listing:first-child, .product_listing.margin-left0{margin:10px 1%;}
.product_listing{margin:10px 1%;width:22%;}
/*.product_listing_image{height: auto;}*/
.product_listing_image img{max-width:100%;vertical-align: top;}
/*.deal_listing_image{height:auto;}*/
.deal_listing_image img{max-width:100%;vertical-align: top;}
.auction_listing{width:28%;padding:1%;}
.feature_viewmore{text-align: center;}
.fea_view_more{width:auto;float:none;display: inline-block;}
.view_more_inne{width:auto;}
.viewmore_midd a{width:auto;padding:4px 10px;}
        /* Nodata product,deal,auction list start */
.nodata_list_block img{padding:0;}        
.nodata_list_block p{width:auto;padding:20px 0 0;width:auto;}        
        /* Nodata product,deal,auction list end */

/* Home page end */
/* Detail page start */
    /* Products */
.product_image{width:40%;}
.deal_info{padding:0 0 0 2%;width:57%;}
.product_compare_link li{padding:0 0 10px 0;}
.product_buy_notes{width:47%;}
.product_bought_price{width:48%;padding:10px 2%;}
.deal_share .buy_it{padding:0 20px;}
.product_buy_but .buy_it{padding:0 20px;}
.jcarousel-skin-tango .jcarousel-clip{width:100%;}
#slideshow-carousel li .product_listing{width:173px;}
#slideshow-carousel li .auction_listing{width:178px;}

.action_listing{width:100%;}
.action_listing p{width:100%;}
    /* Deals */
.deal_image{width:40%;}    
    /* Auctions */
.auction_image{width:40%;}    
.bid_history{width:57%;padding:0 0 0 2%;overflow-x: auto;}
.mbid_history_inner{width:600px;overflow-x: hidden;}
.bid_history_list{width:50%;margin:0;}
.bidders_list li{padding:10px 3%;}
.bid_history_content{width:49%;}
/* Detail page end */
/* cart page start */
.payleft_block{width:68%;}
.checkout-section{width:100%;}
.continue-shop-text{margin:0 0 0 10px;}

.payment_sel_lft{padding:10px 5px;}
.payment_select .payment_sel_lft:first-child{padding:10px 5px;}
    /* Before login */
.payright_block{width:29%;margin:0 0 0 2%;}
.payment-faq-container{width:100%;}
.faq-content2{width:100%;}
.faq-content-heading{width:100%;padding:7px 0;}
.faq-heading-text{padding:0 0 0 2%;}
.faq-content-heading-left{padding:0 0 0 2%;width:94%;}
.faq-content-text{width:96%;padding:2%;}
    /* Cart empty */
.content_empt_lft{width:100%;}
.content_empt_lft h2{line-height: 30px;}
/* cart page end */
/* Deals payment page start */
.content_abouts{width:100%;}
.content_abou_common{width:96%;padding:10px 2%;}
/* Deals payment page end */
/* Auction Payment page start */
.cont_auc_rgt{padding:0 0 0 2%;width:75%;}
.auction_payment_spg_inner{padding:0 2%;width:96%;}
/* Auction Payment page end */
/* Payment success page start */
.payment_sucss_lft{display: none;}
.payment_sucss_rgt{width:100%;margin:0;}
.payment_suc_content{padding:0;}
.payment_sucss_rgt{width:65%;margin:0 0 0 2%;}
.payment_suc_content{width:100%;}
.payment_suc_content ul li p{width:auto;}
/* Payment success page end */
/* Auction bid popup start */
.bidding_auction{width:94%;padding:10px 2%;margin:0 0 0 -49%;}
.qty_header_top_inner{width:100%;}
.qty_header_top_inner{width:96%;padding:0 2%;}
.qty_content div.qty_content_left{width:48%;padding:0 1%;margin:0;}
.qty_content div.qty_content_left a{width:auto;float:none;display:inline-block;}
.qty_content_right{width:48%;padding:0 1%;}
.qty_top_box{width:100%;}
/* Auction bid popup end */
/* Store list start */
.content_store_list{width:100%;}
.feture_deal_listing_1{margin:10px 1% 0 0;float:none;display: inline-block;width:23%;vertical-align: top;}
.feture_mid_1{padding:3px 2%;width:96%;}
.fetur_img{width:100%;min-height: 0;}
.feture_bot_det{width:96%;padding:0;}
.fetur_img a img{max-width:100%;}
.qty_footer_list{width:100%;}
/* Store list end */
/* Store detail page start */
.store_image{width:40%;}
.slider_wrap ul li .product_listing{width:173px;}
.slider_wrap ul li .auction_listing{width:158px;padding:8px;}
.slider_wrap ul li .branch_listing{width:154px;padding:8px;}
.store_branch_list{text-align: center;}
.store_branch_list .inner_commen_title{text-align: left;}
/* Store detail page end */
/* Near me map start */
#near_lft_auction{right:2%;left:auto !important;width:260px;}
.near_me_mid_left{height:330px !important;}
.nm_content_mid_container_wrap{left:2% !important;right:auto;top:-430px !important;padding:0!important;width:260px;}
.mid_po{width:260px;}
.nm_content_mid_container_3{width:260px;}
.action_rgt_map5{width:118px!important;}
.close_button_nm{top:15px !important;}
/* Near me map end */
/* Settings pages start */
    /* My Account page */
.all_mapbg_mid_common{width:100%;}
.all_mapbg_mid{width:100%;}
.mybuys_content{width:100%;padding:25px 0 20px 0;}
.pi_mc_rl_outer{width:100%;}
.pi_left{width:45%;}
.pop_form_profile{padding:26px 5% 63px;width:90%;}
.mc_rl_right{width:50%;padding:0 0 0 5%}
.face_det2{width:100%;margin:10px 0 0;}
.rl_tbox_left_outer{width:65%;}
.rl_tbox_mid{width:100%;}
.rl_tbox_mid input[type="text"]{width:92%;padding:5px 3%;}
    /* My buys page */
.bot_menu{width:96%;padding:5px 2%;}
        /* Product popup start */
.pop_show_rel{position: absolute;right:0;width:100%;}
.popup_show1{width:95%;padding:1%;position: static;}
.product_buy_popup tbody td{padding:10px 0;}
    /* Email subscription page */
.my_email_sub{width:100%;} 
.user_email_ref{float:left;width:100%;padding:20px 0 0;text-align: right;}
/* Settings pages end */
/* Poup start */
.popup_block, .popup_block1, .popup_block2, .popup_block3_0,.popup_block3_1, .popup_auction, .popup_block4, .popup_block5{position: absolute;}
 .popup_block6{width:98%;margin:0 0 0 -49%;}
/* Poup end */
/* Blog page start */
.blog_left{width:68%;}
.blog_left_inner{padding:15px 2%;width:96%;}
.blog_right1{width:30%;}
.blog_list div.post_info ul li{padding:0 5px 10px;}
.blog_list div.post_outer div.post_left{width:48%;}
.blog_list div.post_outer div.post_left div.post_img a{width:100%;}
.blog_list div.post_outer div.post_left div.post_img a img{width:100%;}
.blog_list div.post_outer div.post_right{width:50%;padding:0 0 0 2%;}
/* Blog page end */
/* Blog detail page start */
.blog_list div.post_info ul li.twitter_1{clear:both;}
.blog_comment1 div.blog_user_comment div.blog_user_comment_text{width:70%;}
.blog_right{width:29%;padding:0 0 0 2%;float:left;}
.blog_right div.facebook_follow1,.blog_right div.facebook_follow{width: 100%;}
.blog-icons-panel{width: 96%;margin:0;padding:10px 2%;}
.blog_category_outer{width: 100%;}
.categorynew h1{padding:5px 2%;}
.categorynew ul li{width:96%;padding:3px 2%;}
.blog_posts{margin:0;padding:0 2% 20px;width:96%;}
.blog_posts ul{width:100%;}
.blog_posts ul li{width:100%;}
.blog_posts ul li label a{width:auto;}
.facebook_follow iframe{width:100% !important;}
/* Blog detail page end */
/* Contact us page start */
.contact_form_block{width:59%;padding:0 1% 0 0;}
.contact_form_block ul li .fullname textarea{width:320px;}
.contact_detail_block{width:39%;padding:0 0 0 1%;}
.contactus_map{width:100% !important;}
/* Contact us page end */
/* Cms page start */
.content_abou_text{width:100%;padding:0;}
.contact_form_new{width:100%;}
.faq_container{width:100%;}
.faq_section1{width:100%;}
.faq_section1 p{width:100%;}
.m_imagesize p img{width:100%;}
/* Cms page end */
/* Refer friend page start */
.refer_middle{width:48%;}
.refer_right{float:right;}
.refer_frd_box{width:28%;padding:2%;margin:0 1% 7px 0;}
.refer_frd_box1{width:28%;padding:2%;margin:0 0 7px 0;min-height: 0;}
.refer_frd_box h1,.refer_frd_box1 h1{float:none;width:auto;}
.refer_frd_box p,.refer_frd_box1 p{float:none;width:auto;}
/* Refer friend page end */
/* Message success error start */
.msg_show{position: static;}
.session_container{width:96%;margin:0 auto;}
.success_session{width:99%;padding:5px 0;}
.success_session p,.failure_session p{padding:0 25px;background-position: left 5px;}
.success_session p span,.failure_session p span{font:normal 12px/18px arial; color:#000; }
.failure_session{width:99%;padding:5px 0;}
/* Message success error end */
/* Subscribe page start */
.subscribe_right{width:100%;}
.content_deals_top{float:left;width:96%;padding:2%;}
.subscribe_bg{background-size: 100% 100%;float:left;width:96%;padding:5px 2%;height:auto;}
/* Subscribe page end */
/* Facebook comment */
.fbok_comment{overflow-x:auto;}
.fb_iframe_widget.fb-comments{overflow:hidden;width:400px;}
/* .fb-comments, .fb-comments iframe[style] {width: 100% !important;} */
}
/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
/* Header start */
.header_top_middle{float:right;}
.header_top_right{float:left;width:100%;}
.header_top_right ul{float:left;}
/* Header end */   
/* Cart page start */
.cart_table{overflow-x: auto;overflow-y: hidden;margin:0 0 20px;}
.mcart_table_inner{width:675px;}
/* Cart page end */
/* Settings pages start */
    /* My account page */
.tab_navicon{background: url(../images/new/htop_navicon.png) no-repeat;height:24px;padding:0 0 0 30px;display: inline-block;font:bold 12px/24px arial;color:#666;margin: 0 0 10px;}
.top_menu ul li{clear:both;width: 50%;padding:0 0 10px;}
.tab_left,.tab_rgt,.top_menu ul li:hover div.tab_left, .top_menu ul li.tab_act div.tab_left,.top_menu ul li:hover div.tab_rgt, .top_menu ul li.tab_act div.tab_rgt{display: none;}
div.tab_mid, .top_menu ul li.tab_act div.tab_mid{background: none;box-shadow: 0 0 5px 0 #DDDDDD;-webkit-box-shadow: 0 0 5px 0 #DDDDDD;width:96%;padding:0 2%;}
.top_menu ul li:hover div.tab_mid, .top_menu ul li.tab_act div.tab_mid{background: none;box-shadow: 0 0 5px 0 #DDDDDD;-webkit-box-shadow: 0 0 5px 0 #DDDDDD;width:96%;padding:0 2%;}
/* Settings pages end */
}
/************************************************************************************
smaller than 900
*************************************************************************************/
@media screen and (max-width: 900px) {
/* Footer start */
.footer_outer{padding:0 2% 15px;}
.footer_list{width:33%;padding:20px 0 0;}
/* Footer end */
/* Home page start */
.hot_prodocuts ul li{width:30%;}
.product_listing{width:30%;}
.auction_listing{width:28%;}
.product_details_list .listingspliter{display: none;}
/* Home page end */
/* Detail page start */
    /* Products */
.product_buy_notes{width:100%;border-bottom:1px solid #fff;}
.product_buy_notes:before{border-right:0;border-bottom: 1px solid #E9E9E9;right:auto;left: 0;top:auto;bottom:0;height:1px;width:100%;}
.product_bought_price{width:96%;padding:10px 2%;}
    /* Auction */
.bid_advance_block{display: block;}    
.bid_advance_block li{display: inline-block;width:45%;padding:5px 2%;}
/* Detail page end */
/* Auction bid popup start */
.qty_content div.qty_content_left a{display: block;}
.qty_content div.qty_content_left a img{max-width:98%;padding:1%;float:none;}
/* Auction bid popup end */
/* Store list start */
.content_store_list{text-align: center;}
.feture_bot_det{text-align: left;}
/* Store list end */
/* Contact us page start */
 .contact_form_block ul li label{display: block;text-align: left;width:auto;}
 .contact_form_block ul li .fullname{width:auto;display: block;}
/* Contact us page end */
/* Refer friend page start */
.refer_left{display: none;}
.refer_middle{width:75%;margin:0 0 20px;}
.refer_right{margin:0 0 20px;}
/* Refer friend page end */
/* Subscribe page start */
.subscribe_frm{text-align: left;}
/* Subscribe page end */
}
/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {
/* Header start */
.header_top_right{position: relative;width:100%;}
.htop_navicon{background: url(../images/new/htop_navicon.png) no-repeat;height:24px;padding:0 0 0 30px;display: inline-block;font:bold 12px/24px arial;color:#666;}
.htop_nav{display: none;position: absolute;width:50%;padding:2%;background: #fff;box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);z-index: 1;top:31px;}
.htop_nav ul{width:100%;}
.htop_nav li{width:100%;padding:0;border-top:1px solid #BBBBBB;}
.header_top_right .htop_nav li{padding:0;}
.htop_nav li:first-child{border:0;}
.mnav_dnone{display: none !important;}
.header_language{margin: 0;}
.header_top_sup_menu{left:-9999px;position: absolute;display: block;width:100%;background: none;padding: 0;border:0;box-shadow: none;-webkit-box-shadow: none;-o-box-shadow: none;}
.header_top_right .header_top_sup_menu li:first-child{border-top:1px solid #BBBBBB;}
.htop_nav li.hover .header_top_sup_menu{position: static;}
/* Header end */
/* Product comepare, Wislist empty page start */
.wishlist_empty{text-align: center;}
.wishlist_empty p{display: block;padding:0;}
.wishlist_empty img{padding:20px 0 0;}
/* Product comepare, Wislist empty page end */
}
/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {
/* Footer start */
.footer_list{width:50%;}
/* Footer end */
/* Home page start */
.conntent_left{width:100%;margin:10px 0 0;}
.sidebar_view_product{border:1px solid #D6D6D6;margin:10px 0 0;}
.sidebar_view_product ul li{padding:10px 1%;width:31%;border:0;}
.filter_deleticon{width:auto;}
.side_advertise_part{width:98%;padding:10px 1%;}
.content_right{width:100%;}
.hot_prodocuts ul li{width:22%;}
.product_listing{width:22%;}
.auction_listing{width:28%;}
.product_details_list .listingspliter{display: block;}
.slider_wrap ul {text-align: center;}
.slider_wrap ul li{float:none;display: inline-block;}
/* Home page end */
/* Detail page start */
    /* Products */
.product_image{width:100%;text-align: center;}
.product_image_inner{display: inline-block;position: relative;}
.product_image_inner .MagicScroll{width:340px !important;margin:5px auto !important;}
.deal_info{width:100%;padding:20px 0 0;}
.deal_address{width:100%;padding:0 0 20px;}
.fbok_comment_block{width:100%;}
.fb_iframe_widget{width:100% ;}
#slideshow-carousel.deallist_slider_center ul li{float:none!important;display: inline-block;width:auto;margin:0;}
    /* Deals */
.deal_image{width:100%;text-align: center;}
.deal_image_inner{display: inline-block;position: relative;}
.deal_image_inner .MagicScroll{width:340px !important;margin:5px auto !important;}
    /* Auctions */
.auction_image{width:100%;text-align: center;}
.auction_image_inner{display: inline-block;position: relative;}
.auction_image_inner .MagicScroll{width:350px !important;margin:5px auto !important;}
.bid_history{padding:20px 0 0;width:100%;}
.mbid_history_inner{width:100%;}
/* Detail page end */
/* Product compare page start */
.product_compare_block{overflow-x: auto;overflow-y: hidden;margin:0 0 20px;}
.compare_table{width:760px;}
/* Product compare page end */
/* Auction bid popup start */
.qty_content div.qty_content_left{width:96%;padding:0 2%;}
.qty_content div.qty_content_left a{text-align: center;}
.qty_content div.qty_content_left a img{display: inline-block;}
.qty_content_right{width:96%;padding:0 2%;margin:20px 0 0;}
.qty_box_commom ul li.amount_bid label{width:70%;}
/* Auction bid popup end */
/* Cart page start */
.payleft_block{width:100%;}
.payright_block{width:100%;margin:20px 0 0;}

.blog_right1{width:100%;margin:20px 0 0;}
.payment-faq-container iframe.fan_box{width:100%!important;}
/* Cart page end */
/* Store detail page start */
.store_image{width:100%;}
.store_content .deal_address{padding:20px 0 0;}
.store_branch_list{width:100%;padding:20px 0 0;float:none;display: inline-block;}
/* Store detail page end */
/* Settings pages start */
    /* My account page */
.pi_left{width:100%;}
.ui-dialog{width:93% !important;margin:0 0 0 -48%!important;}
.mc_rl_right{width:100%;padding:20px 0 0;}
    /* My buys page table */
.my_account_table{overflow-x: auto;overflow-y: hidden;margin:0 0 20px;}
.maccount_table_inner{width:720px;}
/* Settings pages end */
/* Product popup start */
.popup_block5{width:98%;margin:0 0 0 -49%;}
.close2{top:0;right:0;}
/* Product popup end */
/* Blog detail page start */
.blog_left{width:100%;}
.blog_right{padding:20px 0 0;width:100%;}
/* Blog detail page end */
/* Contact us page start */
 .contact_form_block{padding:0;width:100%;background: none;}
 .contact_detail_block{padding:20px 0 0;width:100%;}
/* Contact us page end */
/* Merchant login page start */
.seller_signup_introduction, .seller_signup_form_submit, .seller_signup_payment, .seller_signup_finish{width:100%;border-bottom: 1px solid #fff;}
.merchant_paymet_form .gllpMap{width:100%!important;}
.map_loc_section{width: 100%;}
/* Merchant login page end */
}
/************************************************************************************
smaller than 685
*************************************************************************************/
@media screen and (max-width: 685px) {
/* Stort list page start */
.feture_deal_listing_1{width:31%;}    
/* Stort list page end */
/* Popup start */
.popup_block,.popup_block1,.popup_block2, .popup_block3_0, .popup_block3_1, .popup_auction,.popup_block4{width:98%;margin:0 0 0 -49%;}
.signup_content{padding:20px 2%;}
.place_midd_bott{padding:20px 2%;}
.signup_form_block{border:0;width:100%;}
.signup_social_block{width:100%;padding:20px 0 0;}
/* Popup end */
/* Refer friend page start */
.refer_middle{width:100%;}
.refer_right{display: none;}
/* Refer friend page end */
}
/************************************************************************************
smaller than 600
*************************************************************************************/
@media screen and (max-width: 600px) {
/* Home page start */
.hot_prodocuts ul li{width:30%;}
.hot_ptoduct_details{text-align: left;}
.product_listing_detail{text-align: left;}
.product_listing{width:30%;}
.auction_listing{width:28%;}
.product_details_list .listingspliter{display: none;}
/* Home page end */
/* Detail page start */
    /* Product */
.deal_map_sec{width:100%;}    
.deal_map_address{width:100%;padding:20px 0 0 0;}
    /* Auction */
.bid_history_content{width:99%;float: left;}
.bid_history_list{width:99%;margin:20px 0 0 ;}
.bid_advance_block li{width:96%;border:0;}
/* Detail page end */
/* Payment success page start */
.payment_sucss_rgt{width:100%;margin:0;}
/* Payment success page end */
/* Blog detail page start */
.blog_comment_area div.blog_reply_form div.blog_form_left{width:100%;padding:0;}
.blog_comment_area div.blog_reply_form div.blog_form_right{width:100%;padding:0;}
.blog_comment_area div.blog_reply_area{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(241,241,241,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(247,247,247,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(241,241,241,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(241,241,241,1) 100%); /* W3C */    
    height:auto;
}

/* Blog detail page end */
/* Near me map start */
.near_me_mid_left{height:145px !important;}
/* Near me map end */
/* Refer friend page start */
.refer_frd_box{width:96%;padding:2%;margin:0 0 7px 0;}
.refer_frd_box1{width:96%;padding:2%;margin:0 0 7px 0;}

/* Refer friend page end */
/* popup login page */
.new_user_signup .signup_form_block{text-align:center;}
.new_user_signup .signup_form_block ul li{width:250px;text-align:left;}
}
/************************************************************************************
smaller than 568
*************************************************************************************/
@media screen and (max-width: 568px) {  
/* Header start */
.htop_nav{width:75%;}
/* Header end */
/* Detail page start */
    /* Products */
.product_filter_side{width:99%;}    
.product_compare_link{float:left;padding:10px 0 0;width:100%;}
.choose_your_size{float:left;width:100%;padding:15px 0 0;}
.chose_color{float:left;width:100%;padding:15px 0 0;}
.social_share{width:100%;padding:0 0 20px;}
    /* Deals */
.deal_bought_price{width:96%;padding:10px 2% 20px;}
.deal_bought_view{float: left;}
.deal_valid_time{float: left;clear:both;width:auto;padding:0 0 0 45px;margin:5px 0 0;background-position: 20px center;}
/* Detail page end */
/* Cart page start */
.payment_shipping_form ul li{width:100%;}
.payment_form{width:100%;}
    /* Before login */
.payment_login_form .signup_form_block ul li{display: block;}
/* Cart page end */
/* Auction Payment page start */
.cont_auc_rgt{padding:0 0 0 0;width:100%;}
/* Auction Payment page end */
/* Settings pages start */
    /* Product popup start */
.popup_show1{overflow-x: auto;overflow-y: hidden;}
.product_buy_popup{width:500px;}
/* Settings pages end */
/* Merchant login page start */
.merchant_paymet_form li label{width:100%;}
.map_loc_section input{clear: both;margin:5px 0 0;}
/* Merchant login page end */
}
/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
/* Header start */
.htop_nav{width:96%;}
.search_new_common{width:65%;}
.search_suggestions{width:153%;}
.sub{width:20%;}
/* Header end */
/* Footer start */
.footer_list{width:70%;}
/* Footer end */
/* Home page start */
.sidebar_view_product ul li{width:48%;}
.hot_prodocuts{text-align: center;}
.hot_prodocuts ul li{width:46%;}
.product_listing{width:47%;}
.auction_listing{width:44%;}
/* Home page end */
/* Detail page start */
.product_image_inner{display: block;}
.deal_image_inner{display:block;}
.auction_image_inner{display: block;}
.deal_rating{width:100%;margin:0 0 20px;}
    /* Zooming slider start */
.MagicZoomPlus img{max-width:100%;}
/* Detail page end */
/* Auction bid popup start */
.qty_heading h2{float:none;}
.qty_heading p{float:none;padding:10px 0 0 14px;}
/* Auction bid popup end */
/* Stort list page start */
.feture_deal_listing_1{width:48%;}    
/* Stort list page end */
/* Settings pages start */
    /* My account page */
.top_menu ul li{width: 100%;}
/* Settings pages end */
/* Blog page start */
.blog_list div.post_outer div.post_left{width:100%;}
.blog_list div.post_outer div.post_right{width:100%;padding:20px 0 0;}
.blog_list .blog_list_title a{font-size: 18px;}
/* Blog page end */
/* Contact us page start */
 .contact_form_block ul li .fullname textarea{width:240px;}
/* Contact us page end */
}
/************************************************************************************
smaller than 380
*************************************************************************************/
@media screen and (max-width: 380px) {
/* Header start */
.select_citys_common{width:96%;margin: 10px 0 0;padding:0 2%;}
.city_cat ul li:hover div.drop_down1{width:100%;}
/* Header end */
/* Home page start */
.sidebar_view_product ul li{width:90%;padding:10px 5%;border-bottom: 1px solid #D6D6D6;}
.side_advertise_part{text-align: center;width:99%;margin:10px 0 0;}
.banner_right_add iframe{width:100%;}
.hot_prodocuts ul{text-align: center;}
.hot_prodocuts ul li{width:173px;}
.pro_mid{text-align: center;}
.product_listing{width:173px;}
.auction_listing{width:178px;padding:8px;}
/* Home page end */
/* Detail page start */
.product_image_inner .MagicScroll,.deal_image_inner .MagicScroll,.auction_image_inner .MagicScroll{width:100% !important;}   
/* Detail page end */
/* Stort list page start */
.feture_deal_listing_1{width:241px;}    
/* Stort list page end */
/* Footer start */
.footer_list{width:80%;}
/* Footer end */
/* Payment success page start */
.success_back_home{margin:20px 0 0;float:left;}
/* Payment success page end */
/* Settings pages start */
    /* My account page */
/*.pop_up_profile{margin:0 0 0 -8%;}*/
    /* Email subscription page */
.user_email_ref{text-align: left;}
/* Settins pages end */
/* Blog detail page start */
.blog_comment1 div.blog_user_comment div.blog_user_comment_text{width:60%;}
.blog_list div.post_outer div.post_right2 div.post_img{width:100%;float:none;padding:0 0 20px;}
/* Blog detail page end */
}
/************************************************************************************
smaller than 330
*************************************************************************************/
@media screen and (max-width: 330px) {
/* cart page start */
.payment_sel_lft{display: block;}
.payment_sel_lft a{display: inline-block;vertical-align: top;}
.payment_sel_lft p{width:75%;}
/* cart page end */
/* Settings pages start */
    /* My account page */
/*.pop_up_profile{margin:0 0 0 -2px;width:260px;}*/
/* Settins pages end */
}
/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {

}

