@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);


body {
font-family: 'Roboto', sans-serif;
 font-size: 14px; 
 color: #666;
}

.bdr{
   border: 1px solid #eee !important; 
}

.header_title{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size: 18px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.red_btn{
    background-color: #A61C00 !important;
}

.popupContainer{
	position:absolute;
	width:700px;
/*	height: auto;*/
        margin: 0 auto;
	left:45%;
	top:90px;
	background: #FFF;
        border-radius: 5px;
}

/*#modal_trigger {margin:0px auto; width:100px; display:block;}*/

#modal_trigger {margin:0px auto;}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#A61C00; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold; color: #fff;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#A61C00; cursor: pointer; color:#fff; font-size:16px;}

.popupBody {
    padding:50px 20px 20px; 
    border-radius: 10px;
    background-color:#F0F0F0;
    background-repeat:repeat-x;
}

#forgot_pwd:hover{
    cursor:pointer;
    color:#000 !important;
}

#sign_in:hover{
    opacity:.95 !important;
    border:1px solid #fff;
    transition: none;
}


/* Social Login Form */
.social_login {display: none;}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}


.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */

/* User Register Form */
.user_register {display: none;}

.ml{
   margin-left:20px; 
}

.mrg-left{
   margin-left:15px; 
}

.btn_margin{
   margin-left: 25px !important;
}


@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .popupContainer{
	width:95%;
    }
    .ml{
        margin: 0px;
    }
    .button_left{
        width:100%;
        
    }
    .button_right{
         width:100%;
         margin-top: 10px;
    }
   
    btn_margin{
       margin: 0px auto;
    }
    
    .mrg-left{
        margin: 0px auto;
     }
}