/* 
	Conglomeration of sasa css
	Author: @Live
	Date: 10-29-2015
	All rights reserved for Swifta Systems & Services 
	
 */
 
 @import url('bootstrap.css');
 @import url('bootstrap-responsive.css');
 @import url('simple-one.css');
 @import url('flexslider.css');
 @import url('jquery.fancybox.css');
 @import url('cloud-zoom.css');
 @import url('portfolio.css');
 @import url('font-awesome.min.css');
 @import url('fb.css');

.headerdetails ul.nav.language li.dropdown.search {
	
	border: none;
}


.headerdetails ul.nav.language li.dropdown.search.in a {
	cursor:default;

}

.headerdetails ul.nav.language li.dropdown.search.in a:hover {
	color:inherit;
}

.swifta.support {
	padding: 26px 0 0;
	color: #FFF;
	cursor: pointer;
}

#topnav ul li a:hover i {
	
	color: #999;
	
}

#topnav ul li a i {
	margin-right: 10px;
	
}

#topnav ul li a.active i {
	
	color: #999;
	
}

.swifta.support a:hover i {
	color: #999;
}

#topnav ul li a {
  
    font-size: 13px;
    padding: 0px 0px 0px 10px;
    margin-right: 0;
}

.swifta.support i {
	margin-right: 10px;
}

#footer .swifta.support {
	padding: 0px 0 0;
	color: #5E626B;
	cursor: pointer;
}

#footer .swifta.support i {
	color: #FFF;
}

#footer .swifta.support a{
	
	color: #5E626B;
}


#footer .swifta.support a:hover i {
	color: #999;
}




.contact ul li {
	background:none;
	height: auto;
	margin-bottom: 20px;
}

#footersocial a {
	background: none;
}



.footerlinks .swifta {
	text-align: right;
}

.thumbnails.swifta img {
	
/*	border: 4px solid #6E0505;
	border-bottom: 51px solid #6E0505;
	padding: 5px;*/
        border: 2px solid #cccccc;
	border-bottom: 26px solid #cccccc;
	padding: 5px;*
}

ul.swifta.override.branch {
	
	left: 5px !important;
	
}

#mainslider {
	border-radius: 8px 8px 0 0;
}



 ul.productpagecart.deal {
    margin-top: 40px;
    margin-left: 37px;
    display: inline-block;
}

.productdesc.deal {
    margin-left: 38px;
}

div.timer-container.deal {
    padding-left: 37px;
}

.productdesc.product {
    margin-left: 22px;
}

.productpagecart.product {
    margin-left: 24px;
}
 


.top-search.swifta {
	margin-top: 0;
}

.details.thumbnails {

    padding: 0px 50px 10px 0px;
	border:none;
}

 #description.swifta {
	 overflow:auto;
	 max-height:300px;
 }
 
 .selectqty.swifta {
	 
	 width:auto;
 }
 
 .selectsize.swifta {
	 
	 width:auto;
 }
 
 .swifta.rate {
	 
	 display:inline-block;
 }
 
 ul.swifta.rate li {
	 
	 background:none;
	 width: auto;
	 height:auto;
	 margin-right: 2px;
 }
 
 .deal_details {
	 padding: 20px;
 }
 
 .swifta.rate {
	 
	 padding-left: 10px;
	 margin-top: 0;
 }
 
 .productpageprice {
	 padding-bottom: 0;
	 padding-left: 15px;
 }
 
 #id_you_plus {
	 font: 11px/18px arial;
	 color: #888;
	 vertical-align: top;
 }
 
 .kkcountdown-box.swifta span {
	 background: #C60;
	 padding: 5px;
	 margin-right: 5px;
	 text-align:center;
	 border: 1px solid, #003;
	 vertical-align:middle;
	 height: 50px;
	 width: 50px;
	 display:inline-block;
	 padding-top: 15px;
 }
 
 .swifta .kkc-days, .swifta .kkc-days-text {
	 background:#009;
	 border: 1px solid #000;
 }
 
 .kkcountdown-box.swifta span.kkc-days {
	 border-right: 0;
	 border-radius: 4px;
	 margin-right: 0;
	 border-collapse:collapse;
	 width: auto;
	 padding-right: 5px;
	 color:#F25C27;
	 background: #000;
	 text-shadow:#FFF;
	 
	 
 }
 
 .kkcountdown-box.swifta span.kkc-days-text {
	 border-left: 0;
	 margin-left: 0;
	 border-collapse:collapse;
	 border-radius: 4px;
	 color:#FFF;
	 background: #000;
 }
 

 
 
 
 
 
  .kkcountdown-box.swifta span.kkc-hours {
	 border-right: 0;
	 border-radius: 4px;
	 margin-right: 0;
	 border-collapse:collapse;
	 width: auto;
	 padding-right: 5px;
	 color:#F25C27;
	 background: #000;
	 text-shadow:#FFF;
	 
	 
 }
 
 .kkcountdown-box.swifta span.kkc-hours-text {
	 border-left: 0;
	 margin-left: 0;
	 border-collapse:collapse;
	 border-radius: 4px;
	 color:#FFF;
	 background: #000;
 }
 
 
 
  .kkcountdown-box.swifta span.kkc-min {
	 border-right: 0;
	 border-radius: 4px;
	 margin-right: 0;
	 border-collapse:collapse;
	 width: auto;
	 padding-right: 5px;
	 color:#F25C27;
	 background: #000;
	 text-shadow:#FFF;
	 
	 
 }
 
 .kkcountdown-box.swifta span.kkc-min-text {
	 border-left: 0;
	 margin-left: 0;
	 border-collapse:collapse;
	 border-radius: 4px;
	 color:#FFF;
	 background: #000;
 }
 
 
 
  .kkcountdown-box.swifta span.kkc-sec {
	 border-right: 0;
	 border-radius: 4px;
	 margin-right: 0;
	 border-collapse:collapse;
	 width: auto;
	 padding-right: 5px;
	 color:#F25C27;
	 background: #000;
	 text-shadow:#FFF;
	 
	 
 }
 
 .kkcountdown-box.swifta span.kkc-sec-text {
	 border-left: 0;
	 margin-left: 0;
	 border-collapse:collapse;
	 border-radius: 4px;
	 color:#FFF;
	 background: #000;
 }
 
 ul.productpagecart {
	 margin-top: 20;
	 margin-bottom: 0;
 }
 
 ul.productpagecart.deal_details {
	 padding-bottom: 0;
	 padding-top: 0;
	 
 }
 
 div.timer-container {
	 padding-left: 20px;
 }
 
 .close_time {
	 margin-left: 20px;
	 margin-bottom: 10px;
	 
 }
 
 .productdesc {
	 margin-left: 20px;
 }
 
 .bid.winner {
	 margin-left: 20px;
	 margin-top: 40px;
	 margin-bottom: 5px;
 }
 
 .productprice, h1.productname {
	 margin-left:20px;
 }
 
 .content.history td {
	 
	 padding-left: 10px;
	 padding-bottom: 10px;
	 backgroundx: #0C3;
	 font-size: 12px;
 }
 
 .content.history td i{
	 
	 display:block;
	 font-size: 8px;
	 text-align: left;
	 padding-left: 5px;
 }
 
 td.to_bid.last_msg {
	 padding-right: 10px;
 }
 
 td.value {
	 text-align: right;
	 padding-left: 60px;
	 backgroundz: #039;
 }
 
 td.name {
	 padding-right: 30px;
 }
 
 td.space-dots {
	 padding-right: 30px;
	 color:#F25C27;;
 }
 
 td.altx.value {
	 background: #CCC;
 }
 
 a:focus.cart {
	 text-decoration:none;
	
 }
 
 
 .place_bott_top h3 {
    text-align: center;
    font-size: 1em;
    color: #F25C27 !important;
    margin-top: 10px;
}

.btn_form form input[type="submit"] {
	background:#F25C27 !important;
}

.place_bott_top p {
	color:inherit !important;
	
}

.place_bott_top p b {
	font-size: 12px;
}




.popup_auction.btn_form {
	
	font: inherit !important;
	width: 400px !important;
}

.place_bot_left label {
	
	 font: 11px/18px arial !important;
	 color: #888 !important;
	
}

.top-search input {
	background-image: none;
}

a:focus.icon_sasa_search {
	text-decoration:none;
}
 
 .top-search input {
	 width: 180px;
 }
 
  .swifta.support a {
	 
	 text-decoration:none !important;
 }
 
 .swifta.support a:hover {
	 
	 text-decoration:none !important;
 }
 
 .swifta.support a:focus {
	 
	 text-decoration:none  !important;
 }
 
 .quantitybox {
	 margin-left: 20px;
 }
 
 .kkcountdown-box.swifta.little-space span {
	 width: auto;
 }
 
 div.timer-container.deal.little-space {
	 
	 padding-left: 0;
	 margin-bottom: 5px;
	 
 }
 
 div.timer-container.little-space {
	 padding-left: 0;
 }
 
 .thumbnail .shortlinks.little-space {
    top: 53%;
}

.thumbnail a.productcart.deal {
    padding-left: 10px;
    padding-right: 10px;
}

a.thumb-icon {
	padding-left: -1px !important;
	
}

a:hover #mainslider {
	background:#000;
	padding: 30px;
}


 

 

 
 